
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# File types to ignore
*.exe
*.bin
*.jar
*.war
*.mp3
*.mp4
.gitignore
.DS_Store
npm-debug.log
.gitignore/*
/node_modules
node_modules/*
public/images*
*public/images*
