.about-header {
text-align: center;
margin-bottom: 20px;
font-size: 35px;
}

.about-paragraph {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}

.container-about {
padding-top: 50px;
}

.circleOne {
  position: absolute;
  width: 330px;
  height: 330px;
  background: #BEEBE9;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  right: 220px;
  top: 220px;
}
.circleTwo {
  position: absolute;
  z-index: -1;
  width: 125px;
  height: 125px;
  top: 460px;
  left: 350px;
  background: #C2F0FC;
  border-radius: 50%;
  display: inline-block;
}

.daria-image {
    width: 65%;
    position: absolute;
    left: 150px;
    top: 60px;
    }

.resume-button {
  margin-top: 40px;
  padding: 10px 45px;
  border-radius: 100px;
  float: right;
}
.resume-button:hover {
  opacity: 0.6;
}
