/*------------------ Containers -----------------*/
.takeaways-container {
  padding: 0 100px;
}

.user-needs {
  width: 400px;
  height: 400px;
  background-color: #B3D8D9;
  border-radius: 200px;
  padding: 40px 50px;
  margin-top: 25px;
}

/*------------------------- Images --------------------*/
.arrow-down {
  width: 80px;
}

.proto-arrow {
  position: relative;
  bottom: 30px;
  width: 100px !important;
}


.target-icons {
  float: right;
  width: 120px;
  margin-right: 30px;
}


.right-arrow {
  width: 60px;
  position: relative;
  float: right;
  bottom: 330px;
  left: 40px;
}

/*-------------------------- Comment-bubbles -----------------------*/
.comment-bubble {
  background: #FFEBE9;
  position: relative;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 60px;
}

#comment_bubble {
  width: 140px;
  height: 440px;
  padding-top: 40px;
  padding-bottom: 50px;
}

#comment_bubble:before {
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 200px;
  position: absolute;
  border-top: 33px solid transparent;
  border-left: 46px solid #FFEBE9;
  border-bottom: 33px solid transparent;
  z-index: 1000;
}

#comment_bubble2 {
  width: 250px;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 10px;
}

#comment_bubble2:before {
  content: "";
  width: 0;
  height: 0;
  right: 100%;
  top: 110px;
  position: absolute;
  border-top: 23px solid transparent;
  border-right: 36px solid #FFEBE9;
  border-bottom: 13px solid transparent;
  z-index: 1000;
}

#comment_bubble3 {
  width: 350px;
  height: 250px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 50px;
}

#comment_bubble3:before {
  content: "";
  width: 0;
  height: 0;
  right: 98%;
  top: 30px;
  position: absolute;
  border-top: 3px solid transparent;
  border-right: 40px solid #FFEBE9;
  border-bottom: 64px solid transparent;
  z-index: 1000;
}
