/* Body */
body {
  font-family: 'Montserrat', sans-serif;
  color: #212121;
}
h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-weight: 700;
  font-size: 45px;
  font-style: italic;
  color: #61AEB0;
}
h3 {
  font-size: 25px;
}

h4, p.mb-0 {
  font-size: 20px;
}
.w-60 {
  width: 60%;
}
/*______________________________________________ Top & NavBar__________________________________________________ */
.top-section {
  padding: 50px 12%;
  font-size: 29px;
}

.logo {
  width: 80px;
  margin-right: 20px;
  display: inline-block !important;
}

.navbar-item {
  padding: 0 8px;
  font-weight: 800;
}

#text-nav {
  color: #212121;
}

#text-nav:hover {
  color: #61AEB0;
}
.active {
  color: #61AEB0;
}

.container-greeter {
  padding: 80px 15px 60px;
  margin-top: 50px;
}

.greeter {
  position: absolute;
  bottom: 20px;
  left: 80px;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
}

.daria-image {
  width: 60%;
}

.circleOne {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #BEEBE9;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  bottom: 100px;
  right: 100px;
}

.circleTwo {
  position: absolute;
  z-index: -1;
  width: 125px;
  height: 125px;
  top: 200px;
  left: 400px;
  background: #C2F0FC;
  border-radius: 50%;
  display: inline-block;
}

.arrow-down {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*____________________________________ Middle section items__________________________________________ */
/* Default container */
.container-default {
  text-align: center;
  width: 1200px;
  height: 400px;
  border-radius: 100px;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}

.view-footer {
  padding: 40px 0;
}

.view-button {
  margin-right: 100px;
  padding: 10px 35px;
  border-radius: 100px;
  float: right;
  position: relative;
}

.view-button:hover {
  opacity: 0.6;
}

.work-header {
  font-weight: bold;
  font-size: 27px;
  padding: 9% 0 7%;
  width: 400px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.work-description {
  text-align: left;
  font-size: 19px;
  padding: 0 50px 0 150px;
  margin-bottom: 0;
}

.iphone-image {
  width: 180px;
  margin-left: 150px;
  margin-top: 20px;
}

.pc-image {
  width: 450px;
  margin-top: 70px;
  margin-left: 30px;
}
/* Bloom */
.bloom {
  background-color: #FFEEEC;
  margin-top: 100px;
}

/* Learning Seed */
.learningSeed {
  background-color: #C2F0FC;
}

/* Venmo */
.venmo {
  background-color: #BEEBE9;
}

/* E-commerce */
.ecommerce {
  background-color: #F6EEC7;
}

/*____________________________________ Footer_____________________________________________________________ */
.footer {
  text-align: center;
  margin: 50px 0 30px;
}

.lets-connect {
  font-size: 50px;
  font-weight: 400;
}

.connect-button {
  padding: 20px;
  width: 100px;
  display: inline-block !important;
}

/*____________________________________ Resume_______________________________________________________________ */
embed {
  display: inline-block;
  margin-top: 50px;
}

.embed {
  text-align: center;
}
/*____________________________________ Default case study styles ____________________________________*/
.section-font_and-color {
  color: rgb(47, 59, 56);
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  font-size: 17px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.border-style {
  border-style: solid none;
  border-width: 1px;
  }
  /*----------------- Nextcase feature --------------*/
  .nextcase {
    width: 450px;
    background-color: #FFEBE9;
    padding: 20px 15px;;
    text-align: center;
    margin-top: auto;
    margin-left: 55%;
    border-radius: 30px;
  }
  .view-next-button {
    margin-top: 20px;
  }
  .nextcase-header {
    text-align: center;
    font-size: 15px;
    line-height: normal;
  }
  .nextcase-image-laptop {
    width: 220px;
  }
  .nextcase-image-phone {
    width: 80px;
  }

/*-------------------------------------------- Modal -----------------------------------------------*/
#flow1, #flow2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#flow1:hover {opacity: 0.8;}
#flow2:hover {opacity: 0.8;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  margin-top: 150px;
  display: block;
  width: 90%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
