/* Body */
body {
  font-family: 'Montserrat', sans-serif;
  color: #212121;
}

h2, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 45px;
  font-style: italic;
  color: #61AEB0;
}

h3 {
  font-size: 25px;
}

h4, p.mb-0, .overview {
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*---------------------------- Videos --------------------------*/
video {
  position: absolute;
  z-index: 1;
}

.phone-video {
  width: 218px;
  bottom: 58px;
  left: 176px;
}

.phone-video-prototype {
  width: 218px;
  left: 461px;
  bottom: 57px;
}
.phone-video-tete {
  width: 218px;
  left: 425px;
  bottom: 107px;
}

.laptop-video {
  width: 394px;
  left: 88px;
  bottom: 162px;
  border-radius: 8px;
}

.laptop-video-kiki {
  left: 102px;
  bottom: 187px;
  border-radius: 8px;
  height: 248px;
}

.laptop-video-prototype {
  width: 650px;
  left: 245px;
  bottom: 107px;
  border-radius: 8px;
}
.laptop-video-tete {
  width: 650px;
  left: 208px;
  bottom: 102px;
  border-radius: 8px;
}

.laptop-video-prototype-kiki {
  width: 591px;
  bottom: 155px;
  left: 274px;
  border-radius: 5px;
}

/*------------------------------- Top & NavBar------------------------------- */
.top-section {
  padding: 50px 12%;
  font-size: 29px;
}

.logo {
  width: 80px;
  margin-right: 20px;
  display: inline-block;
}

.navbar-item {
  padding: 0 8px;
  font-weight: 800;
}

#text-nav {
  color: #212121;
}

#text-nav:hover {
  color: #61AEB0;
}

.active {
  color: #61AEB0;
}

.container-greeter {
  padding: 80px 15px 60px;
  margin-top: 50px;
}

.greeter {
  position: absolute;
  bottom: 20px;
  left: 80px;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
}

.circleOne {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #BEEBE9;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  bottom: 122px;
  right: 115px;
}

.circleTwo {
  position: absolute;
  z-index: -1;
  width: 125px;
  height: 125px;
  top: 190px;
  left: 384px;
  background: #C2F0FC;
  border-radius: 50%;
  display: inline-block;
}

/*____________________________________ Middle section items__________________________________________ */
/* Default container */
.container-default {
  text-align: center;
  width: 1200px;
  height: 400px;
  border-radius: 100px;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}

.view-button {
  margin-right: 100px;
  padding: 10px 35px;
  border-radius: 100px;
  float: right;
  position: relative;
}

.view-button:hover {
  opacity: 0.6;
}

.work-header {
  font-weight: bold;
  font-size: 27px;
  padding: 9% 0 7%;
  width: 400px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.work-description {
  text-align: left;
  font-size: 19px;
  padding: 0 50px 0 150px;
  margin-bottom: 0;
}

.iphone-image {
  width: 180px;
  margin-left: 150px;
  margin-top: 20px;
}

.pc-image {
  width: 450px;
  margin-top: 70px;
  margin-left: 30px;
}

/* Bloom */
.bloom {
  background-color: #FFEEEC;
}

/* Learning Seed */
.learningSeed {
  background-color: #C2F0FC;
}

/* Venmo */
.venmo {
  background-color: #BEEBE9;
}

/* E-commerce */
.ecommerce {
  background-color: #F6EEC7;
}
.tete-a-tete {
  margin-top: 80px;
  background-color: #F7EEFF;
}
/*____________________________________ Bloom page custom css ____________________________________*/
/*------------------ Containers -----------------*/
.takeaways-container {
  padding: 0 100px;
}

.user-needs {
  width: 400px;
  height: 400px;
  background-color: #B3D8D9;
  border-radius: 200px;
  padding: 40px 50px;
  margin-top: 25px;
}

/*------------------------- Images --------------------*/
.arrow-down {
  width: 80px;
}

.proto-arrow {
  position: relative;
  bottom: 30px;
  width: 100px !important;
}

.target-icons {
  float: right;
  width: 120px;
  margin-right: 30px;
}

.right-arrow {
  width: 60px;
  position: absolute;
  bottom: 230px;
  left: 340px;
}
.right-arrow-center {
  width: 60px;
  position: absolute;
  bottom: 350px;
  left: 420px;
}

/*-------------------------- Comment-bubbles -----------------------*/
.comment-bubble {
  background: #FFEBE9;
  position: relative;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 60px;
}

#comment_bubble {
  width: 140px;
  height: 440px;
  padding-top: 40px;
  padding-bottom: 50px;
}

#comment_bubble:before {
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 200px;
  position: absolute;
  border-top: 33px solid transparent;
  border-left: 46px solid #FFEBE9;
  border-bottom: 33px solid transparent;
  z-index: 1000;
}

#comment_bubble2 {
  width: 250px;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 10px;
}

#comment_bubble2:before {
  content: "";
  width: 0;
  height: 0;
  right: 100%;
  top: 110px;
  position: absolute;
  border-top: 23px solid transparent;
  border-right: 36px solid #FFEBE9;
  border-bottom: 13px solid transparent;
  z-index: 1000;
}

#comment_bubble3 {
  width: 350px;
  height: 250px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 50px;
}

#comment_bubble3:before {
  content: "";
  width: 0;
  height: 0;
  right: 98%;
  top: 30px;
  position: absolute;
  border-top: 3px solid transparent;
  border-right: 40px solid #FFEBE9;
  border-bottom: 64px solid transparent;
  z-index: 1000;
}

/*____________________________________About Me Page ______________________________________________________*/
.about-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}

.about-paragraph {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}

.container-about {
  padding-top: 50px;
}

.aboutMe-circleOne {
  position: absolute;
  width: 330px;
  height: 330px;
  background: #BEEBE9;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  right: 220px;
  top: 220px;
}

.aboutMe-circleTwo {
  position: absolute;
  z-index: -1;
  width: 125px;
  height: 125px;
  top: 460px;
  left: 350px;
  background: #C2F0FC;
  border-radius: 50%;
  display: inline-block;
}

.daria-image {
  width: 65%;
  position: absolute;
  left: 150px;
  top: 60px;
}

.resume-button {
  margin-top: 40px;
  padding: 10px 45px;
  border-radius: 100px;
  float: right;
}

.resume-button:hover {
  opacity: 0.6;
}

/*____________________________________ Footer_____________________________________________________________ */
.footer {
  text-align: center;
  margin: 50px 0 30px;
}

.lets-connect {
  font-size: 50px;
  font-weight: 400;
}

.connect-button {
  padding: 20px;
  width: 100px;
  display: inline-block !important;
}

.gmail {
  width: 110px;
}

/*____________________________________ Default case study styles ____________________________________*/
.section-font_and-color {
  color: rgb(47, 59, 56);
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  font-size: 17px;
}

.w-60 {
  width: 60%;
}

.prototype-phone-width {
  width: 250px;
}

.prototype-laptop-width {
  width: 499px;
  height: 316px;
}

.prototype-image-kiki {
  width: 807px;
  height: 516px;
}

.border-style {
  border-style: solid none;
  border-width: 1px;
}

.click-to-enlarge {
  font-size: 14px;
  margin-left: 40%;
}
.click-to-enlarge-kiki {
  font-size: 14px;
  margin-left: 46%;
}

/*------- Kiki's page -------*/
.arrow-pointer {
  position: absolute;
  width: 75px;
  top: 115px;
}

/*------- Learning Seed -----*/
.captions {
  margin-left: 8%;
  font-size: 14px;
}

.persona-title {
  margin-left: 19%;
}
/*------- Tete-a-tete -----*/
.arrow-top-right {
  width: 30%;
  left: 318px;
  top: 40px;
}
/*------------------------------- Nextcase feature -------------------------*/
.nextcase {
  width: 450px;
  background-color: #FFEBE9;
  padding: 20px 15px;
  ;
  text-align: center;
  margin-top: auto;
  margin-left: 55%;
  border-radius: 30px;
}

.view-next-button {
  margin-top: 20px;
}

.nextcase-header {
  text-align: center;
  font-size: 15px;
  line-height: normal;
}

.nextcase-image-laptop {
  width: 220px;
}

.nextcase-image-phone {
  width: 80px;
}

/*-------------------------------------------- Modal -----------------------------------------------*/
.modal-image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-image:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
