</section>
<!-- Footer -->
<section class="footer-section fadein">
  <div class="footer">
<h2 class="lets-connect">Let's connect!</h2>
<a href="mailto:hudechka22@gmail.com?subject=portfolio"><img src="images/gmail_icon.png" alt="gmail_icon" class="connect-button"></a>
<a href="https://www.linkedin.com/in/daria-in-ux"><img src="images/in_icon.png" alt="in_icon" class="connect-button"></a>
</div>
</section>



<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="script.js" charset="utf-8"></script>
</body>
</html>
