<%- include ("../templates/header") -%>
  <!------------------------------- Content section --------------->
  <section class="section-font_and-color fadein">

    <!--- Modal- -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>
    <!---Modal ---------->


    <h2 class="mb-5 pb-5 text-center">E-commerce platform for a local grocery store (conceptual)</h2>
    <div class="container mb-5">
      <div class="row justify-content-center">

        <div class="col-lg-6">
          <img src="images/kiki.png" class="prototype-laptop-width" alt="">
          <video class="laptop-video-kiki" controls autoplay muted>
      <source src="video/kiki.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
        </div>

        <div class="col-lg-6">
          <h3 class="text-left mb-5 font-weight-bold">PROJECT OVERVIEW</h3>
          <p class="mb-0"><b>Category:</b>
            <br>
            UX Design, Information Architecture (IA)</p>
          <br>
          <p class="mb-0"><b>Timeline:</b> 2 weeks sprint</p>
          <br>
          <p class="mb-0"><b># of Team members:</b> solo</p>
          <br>
          <p class="mb-0"><b>My role:</b>
            <br>
            Designing the mid-fidelity prototype with a clear IA structure based on the combination
            of user’s needs and the goals of the business and its brand.</p>
          <br>
          <p class="mb-0"><b>Tools:</b>
            <br>
            Axure, Optimal Workshop</p>

        </div>

      </div>
    </div>
    <div class="container my-5 w-60">
      <p><b>Kiki’s Kwik Mart</b> is a little grocery store in Brighton, MA. It specializes in Irish food and has a wide variety
        of international products. That store is amazing! In Kiki’s you can find really unique products you won’t be able
        to see in traditional supermarkets. It has been serving delicious food to the community for more than three decades,
        but there’s no way to look up the products online.</p>
    </div>
    <div class="container pb-2 my-5 w-60 border-style">
      <h3 class="font-weight-bold my-3">Results:</h3>
      <div class="container px-0">
        <p>The e-commerce platform has been added to the local grocery store. Thus, MA residents have got an opportunity
          to have products they like delivered and the business is gaining a significant increase in sales.
        </p>
      </div>
    </div>

    <!--------------------- Research ------------------->



    <div class="container pt-5 w-60">
      <h2 class="text-center mb-5">Research</h2>
      <p>I started my research conducting a series of <b>interviews.</b> With the use of screener questions I targeted audience that
        were either customers in that particular store or just international food shoppers. My goal was to figure out the shopping
        habits they have and the problems they face. I asked a number of questions starting from “What you don’t like about shopping
        international products?” to “How often do you notice the products on sale?”.</p>
    </div>



    <div class="container w-60 my-5">


    <div class="row align-items-center my-5">

      <div class="col-6 px-0">
        <h3 class="text-center mb-5 font-weight-bold">Problem statement</h3>
        <img src="images/kiki/problem.jpg" class="w-75 mx-auto" alt="">
        <p class="text-center my-3 px-5 font-italic font-weight-bold">For some people knowing the ingredients is life important.</p>
      </div>
      <div class="col-6 overview">
        <p>The interviews gave me a pretty clear insight that shopping international food can be really problematic!</p>
        <ul>
          <p><li>The stores that are specialized in international food are <b>not as accessible</b> as regular supermarkets. Even if you
            are a huge fan of Irish food but you live far from Brighton, you may not want to spend time to get there.</li></p>

          <li>Most of the <b>products are unfamiliar</b> as they often labeled and <b>described in its origin language.</b> The main pain point
            is that when you buy the product, you <b>don’t know what is it</b>, how is it going to taste or if you can actually eat it.</li>
        </ul>
      </div>

    </div>
    </div>

    <div class="container border-style my-5 w-60">
      <h3 class="my-3 text-center font-weight-bold">Hypothesis</h3>
      <p>I believe that by adding e-commerce to the website that has an efficient navigation and product description will help international
        food lovers to buy the products they want more easily. I will know this to be true when I see that customers from any part of MA can
        find the products they need and have them delivered from Kiki’s Kwik Mart.</p>
    </div>

    <!---------------------------------- Card sorting  ----------------------------->
    <div class="container ">
      <h3 class="text-center my-5 font-weight-bold">Card sorting </h3>
      <div class="row align-items-center">

        <div class="col">
          <img src="images/kiki/card-sorting.png" class="w-60 my-auto mx-auto modal-image" alt="">
          <span class="click-to-enlarge"><i>(Click to enlarge)</i></span>

        </div>
        <div class="col">
          <p>
            In order to build intuitive navigation, I made a list of 100 products from the store and conducted <b>5 open and 3 closed card sorts.</b> The categorization of
            some products got really tricky. There were category names that were just too specific for the wide range of products that Kiki’s offer (e.g. the
            “Cheese” category or “insect repellent”).</p>
          <p>So I <b>united some categories</b> which looked similar and <b>created subcategories</b> for those that stood out. After that I did closed card sorts and tried them
            out making iterations based on user’s feedback after each session.</p>
        </div>

      </div>
    </div>

    <!---------------------------------- User flows ----------------------------->

    <div class="container w-60 pb-5">
      <h3 class="text-center my-5 font-weight-bold">User flows</h3>
  <p>Working on the user flows I focused on the idea “I am not my user”. People are different and the paths they take to complete the task also vary. Keeping that in mind, I created
    <b>6 possible ways</b> that can be used to find the product. Once it is done and the user is ready to check out, it is important to make sure there is easy way to do so.</p>
      <div class="row justify-content-center">
        <div class="col px-0">
          <h4 class="text-center my-5 font-weight-bold">6 ways to find a product</h4>
          <img src="images/kiki/flow1.png" class="w-100 my-auto mx-auto modal-image" alt="">
          <span class="click-to-enlarge"><i>(Click to enlarge)</i></span>
        </div>
        <div class="col px-0">
          <h4 class="text-center my-5 font-weight-bold">Check-out</h4>
          <img src="images/kiki/flow2.png" class="w-100 my-auto mx-auto modal-image" alt="">
          <span class="click-to-enlarge"><i>(Click to enlarge)</i></span>
        </div>

      </div>

    </div>


    <!---------------------------------- Sketches --------------------------->

    <div class="container pb-5">
      <h3 class="text-center my-5 font-weight-bold">Sketches</h3>
          <img src="images/kiki/sketch.jpg" class="w-50 my-auto modal-image" alt="">
          <span class="click-to-enlarge"><i>(Click to enlarge)</i></span>
    </div>

    </div>

      <!-------------------------Usability testing -------------------->
      <div class="container w-60 my-5">
        <h3 class="my-4 font-weight-bold">Usability testing</h3>
        <p>After a round of usability testing, I noticed the tendency that users do not pay attention
          to filters and not use them even if they are challenged to find something very specific. As
          a result, I <b>highlighted the headings</b> making them bold and <b>put the headings closer to checkboxes</b>
           based on the principle of proximity. That little twig helped me to make filters more visible and clearer for the user.</p>
      </div>
      <div class="container pb-5 my-5">
        <div class="row justify-content-center">
          <div class="col-lg-6 pr-5 ">
      <img src="images/kiki/test1.png" class="w-75 my-auto" alt="">
          </div>
          <div class="col-lg-6 pl-5">
                <img src="images/kiki/arrow.png" class="arrow-pointer my-auto" alt="">
    <img src="images/kiki/test2.png" class="w-75 my-auto" alt="">
          </div>
            </div>
              </div>

      <div class="container w-60 pb-5 my-5">
        <p class="my-5">The checkout form was initially located on single page with the areas that fold up as the user
          fills out the fields. However, tests have shown that it is confusing, because that way user did not have a chance
          to confirm the action. The solution I found is to <b>break down the form to three pages</b> and use the <b>“Save” buttons.</b>
          I also used the <b>breadcrumb</b> to show how many steps are left. Such iteration helped users easily complete the payment
          and place the order.</p>
        <div class="row justify-content-center">
          <div class="col-lg-6 pr-5">
      <img src="images/kiki/test3.png" class="w-100 my-auto mx-auto" alt="">
          </div>
          <div class="col-lg-6 pl-5">
      <img src="images/kiki/test4.png" class="w-100 my-auto mx-auto" alt="">
          </div>
            </div>
              </div>

    <!-------------------------Takeaways -------------------->

    <div class="container border-style w-60 my-5 py-3">
  <h3 class="text-center font-weight-bold">Project takeaways:</h3>
        <ul>
          <li>Users need to see a response to the actions they make.</li>
          <li>Users tend to create the categories they used to see before.</li>
          <li>All the important information must stand out to catch user's eye.</li>
          <li>People think differently.</li>
        </ul>
    </div>

    <!------------------------------ Prototype ---------------------------->
    <div class="container position-relative pb-5 my-5">
      <h3 class=" my-5 text-center font-weight-bold">Prototype</h3>
      <img src="images/kiki.png" class="prototype-image-kiki" alt="">
      <video class="laptop-video-prototype-kiki" controls autoplay muted>
  <source src="video/kiki.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
    </div>




    <div class="container my-4 nextcase">
      <div class="row align-items-center">
        <div class="col-6">
          <img src="images/bloom.png" class="nextcase-image-phone" alt="">
        </div>
        <div class="col-6">
          <h6 class="nextcase-header">
            B2C application "Bloom"</h6>
          <a href="/bloom-app" class="view-next-button btn btn-dark">View next case study</a>
        </div>
      </div>
    </div>

    <a href="#top"><img class="arrow-down" src="images/chevron-double-up.png" alt="" width="64" height="64"></a>
  </section>

<%- include ("../templates/footer") -%>
