<%- include ("../templates/header") -%>
  <!------------------------------- Content section --------------->
  <section class="section-font_and-color fadein">

    <!--- Modal- -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>
    <!---Modal ---------->


    <h2 class="mb-5 pb-5 text-center">Designing a micro-course for Learning Seeds, Inc.</h2>
    <div class="container mb-5">
      <div class="row justify-content-center">

        <div class="col-lg-6">
          <img src="images/learnseed.png" class="w-100" alt="">
          <video class="laptop-video" controls autoplay muted>
      <source src="video/seeds.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
        </div>

        <div class="col-lg-6">
          <h3 class="text-left mb-5 font-weight-bold">PROJECT OVERVIEW</h3>
          <p class="mb-0"><b>Category:</b>
            <br>
            UX, Web Design</p>
          <br>
          <p class="mb-0"><b>Timeline:</b> 3 weeks sprint</p>
          <br>
          <p class="mb-0"><b># of Team members:</b> 4</p>
          <br>
          <p class="mb-0"><b>My role:</b>
            <br>
            Comparative analysis, Content Research, Synthesis, Ideating, User flows, Site Map, Wireframing.</p>
          <br>
          <p class="mb-0"><b>Tools:</b>
            <br>
            Figma</p>

        </div>

      </div>
    </div>

    <div class="container my-5 w-60">
      <p><b>Learning Seeds</b> is the social benefit corporation known for the Enlightened Shadowing Method
        of social coaching for children. Due to the high volume, they currently have an 8-month waitlist
        for their services. In order to help the situation, our design team spent 3 weeks
        working on a micro-course that serves as a funnel to their methods and gives
        parents an opportunity to start learning as soon as possible.</p>
    </div>


    <div class="container w-60 border-style">
      <h3 class="my-3 text-center font-weight-bold">Results</h3>
      <div class="container px-0">
        <p>We designed an educational micro-course that introduces the Enlightened Shadowing Method to novice users
          and teaches how to use it in practice. The course includes the combination of video, infographics,
          audio and text. Users have the ability to save the pieces of information for their future reference as well
          as take notes and track their progress. Each lesson ends with the
          reflection form that allows users to record what tips and practices worked best for their children.</p>
      </div>
    </div>
    <!--------------------- Research ------------------->

    <div class="container pb-4 my-5">
      <h3 class="text-center font-weight-bold">Research</h3>
      <div class="row align-items-center my-5">

        <div class="col-6 px-0">
          <img src="images/learning-seeds/research.png" class="w-75 mx-auto rounded shadow-sm" alt="">
        </div>
        <div class="col-6 overview">
          <h4 class="text-center font-weight-bold">Overview</h4>
          <ul>
            <li>Comparative Analysis</li>
            <li>User Interviews with Novice and Expert Users</li>
            <li>Empathy Map</li>
            <li>Interview Criteria Matrix</li>
            <li>Affinity Map</li>
            <li>Content Expert Interviews</li>
            <li>Content Research</li>
            <li>Personas</li>
            <li>Usability Testing</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container border-style my-5 w-60">
      <div class="row justify-content-center">
        <div class="col-lg-6 px-5">
          <h3 class="my-3 font-weight-bold">Problem statement:</h3>
          <p>Parents need a way to learn enough of the Enlightened Shadowing Method so that
            they will be able to implement aspects of it with their own
            children and experience progress and relief.</p>
        </div>
        <div class="col-lg-6 px-5">
          <h3 class="my-3 font-weight-bold">Hypothesis:</h3>
          <p>We believe by creating a micro-course that scales the learnability of the Enlightened Shadow Method, we will enable
            parents to successfully implement these methods as part of their own parenting toolkit.</p>
        </div>

      </div>

    </div>


    <!---------------------------------- Comparative analysis ----------------------------->

    <div class="pt-5 w-60 mb-5 container">
      <h3 class="text-center font-weight-bold">Comparative analysis</h3>
      <p>For the comparative analysis I reviewed other micro-courses at educational platforms
        like Udemy, Skillshare and GA along with the tip resource for parents Parents.com.
        I used such criteria as a layout, structuring of information,
        motivation and the habit cycle (referring to the book “The power of Habits” by Charles Duhigg).
      </p>
    </div>

    <div class="container ">
      <div class="row align-items-center">

        <div class="col">
          <img src="images/learning-seeds/companalysis-big.png" class="w-75 my-auto mx-auto modal-image" alt="">
          <span class="click-to-enlarge"><i>Click to enlarge</i></span>
        </div>
        <div class="col">
          <ul>
            <li>Videos and pdfs are the most common <b>content formats</b></li>
            <li>The content is chunked into <b>small pieces</b></li>
            <li>The way to <b>invest or reflect</b> can be represented by “community” section</li>
            <li>Call-to-action buttons are used as a <b>trigger</b> to start a course</li>
            <li>Users are often asked either to <b>complete the same task</b> for the second time after getting a block of knowledge or share work with others</li>
            <li>The <b>feeling of doneness</b> is an important part of <b>motivation</b>, so the indicator of progress should catch the eye</li>
            <li>All the lessons tend to end with an <b>assessment</b> of user’s retention of the material</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container pt-5 w-60 mb-5">
      <h3 class="my-5 text-center font-weight-bold">Novice user interviews</h3>
      <p class="pb-5">In order to find out the habits surrounding seeking parenting information and resources
        we conducted 4 interviews with parents who are not familiar with Learning Seeds and its methods.
        When we’ve collected all of the data, we synthesized it in two different ways.</p>
      <div class="row align-items-center">
        <div class="col px-0">
          <img src="images/learning-seeds/empathy-map.png" class="w-75 my-auto mx-0" alt="">
        </div>
        <div class="col">
          <p class="mb-1">First, I used the <b>empathy map</b> to identify what our novice user says, does, thinks and feels.
            The results have shown that our novice user:</p>
          <br>
          <p class="mb-1"><b>Says</b> that she tries not to use her mobile devices in front of kids and go online mostly at night</p>
          <br>
          <p class="mb-1"><b>Does</b> google questions she has to find out about more developmental milestones, what is normal and also the problems she faces with kids’ behavior</p>
          <br>
          <p class="mb-1"><b>Thinks</b> that resources she finds via google are not effective enough as it’s mostly people venting and sharing rather than specific advice or methods</p>
          <br>
          <p class="mb-1"><b>Feels</b> supported when sees other people having the same feelings</p>
        </div>

      </div>
      <br>
      <p class="my-5 pb-4">The other method we used is creating a <b>criteria matrix</b> that allowed to go more into the details and learn people’s habits.</p>
    </div>




    <div class="container pb-5">
      <div class="row align-items-center">

        <div class="col">
          <img src="images/learning-seeds/criteria-matrix-big.png" class="w-60 my-auto mx-auto modal-image" alt="">
          <span class="click-to-enlarge"><i>Click to enlarge</i></span>
        </div>
        <div class="col">
          <h4 class="text-center font-weight-bold">Criteria matrix takeaways:</h4>
          <ul>
            <li>People tend to use a <b>phone</b> for less than 20 minutes through day and they use the <b>computer</b> for 0.5-2 hours in the evening</b></li>
            <li>Effective <b>types of content</b> for online learning: a mix of audio and visual, video, interactive features like a webinar, speaker/presentation recordings, mixing text in with video and recording.</li>
            <li>Seeing their kids thrive is what creates the "magic moment" for parents - <b>motivator</b></li>
            <li>Staying <b>focused on kids</b> and taking a step back mentally helps to manage challenging situations</li>
            <li>Discussing what’s been learned with others helps to make it an <b>actionable piece of knowledge</b> </li>
            <li>Seeing an idea with an image helps to <b>anchor it in the mind</b> to be recalled later</li>
          </ul>
        </div>

      </div>
    </div>




    <!-------------------------------------- Expert User Interviews ----------------------------->

    <div class="container my-5 pb-5 w-60">
      <h3 class="pl-5 ml-5 my-5 text-center font-weight-bold">Expert User Interviews</h3>

      <div class="row align-items-center">

        <div class="col px-0">
          <img src="images/learning-seeds/affinity-map.jpg" class="w-75 my-auto mx-auto rounded shadow-sm" alt="">
        </div>
        <div class="col">
          <p>To learn more about Learning Seeds and find out what makes its method unique we
            also interviewed parents experienced in working with the company, teachers and
            other educators. Then we created an <b>affinity map</b> that helped us track the
            following tendencies:</p>
          <ul>
            <li><b>Nature of the process</b></li>
            <ul>
              <li>The way you move through the process is multi-layered / non-linear</li>
            </ul>
          </ul>

          <ul>
            <li><b>Effective ways to learn</b></li>
            <ul>
              <li>Observation & unpacking</li>
              <li>Using parallels/metaphors to convey so understand</li>
              <li>Understanding the rationale behind the method</li>
            </ul>
          </ul>

          <ul>
            <li><b>Blockers to learning</b></li>
            <ul>
              <li>Vulnerability around parenting</li>
              <li>Comparing self to Erica Key</li>
              <li>Quick pace / overwhelming</li>
              <li>Difficult (to implement) in new context</li>
            </ul>
          </ul>
        </div>

      </div>
    </div>



    <div class="container pb-5 my-5 w-60">
      <h3 class="persona-title text-left font-weight-bold">Persona</h3>
      <div class="row align-items-center">
        <div class="col">
          <img src="images/learning-seeds/persona.png" class="w-50 my-auto" alt="">
          <span class="captions"><i>“It’s difficult to find tips and strategies relevant to my child”.</i></span>
        </div>
        <div class="col">
          <h4 class="font-weight-bold">Goals/Needs:</h4>
          <ul>
            <li>Learn and <b>gain confidence</b> in implementing Enlightened Shadowing techniques.</li>
            <li><b>Reflect</b> on their learning and the progress they are making with their child. </li>
            <li>Easily <b>reference</b> previous information.</li>
          </ul>
          <br>
          <h4 class="font-weight-bold">Pain Points:</h4>
          <ul>
            <li>Doesn’t like to read things online because he/she is <b>not sure if the material is real</b> or it is just someone’s opinion</li>
          </ul>
        </div>

      </div>
    </div>








    <!-------------------Content Research ------------------------->
    <div class="container pb-5 my-5 w-60">
      <h3 class="mb-4 text-center font-weight-bold">Content Research</h3>
    <p>The big part of our research process was familiarizing ourselves with the Enlightened Shadowing Method invented and actively used by Learning Seeds. We also spent some time consulting with the Content Expert who gave us the valuable recommendations on how to better present the method and what is the most important.</p>
    <br> <p>
    As a result, we found out that:</p>
    <br>
    <ul class="pl-3">
      <li><b>“Chunking”</b> the rich content of the method into digestible pieces is key</li>
      <li><b>Mindfulness</b> as a pathway to empathy is highly important</li>
      <li>Parents need to <b>understand the rationale</b> behind the method, then <b>observe and unpack</b> what’s been observed in order to effectively learn Enlightened Shadowing.</li>
      <li><b>Reflection</b> and <b>recording the progress</b> is an integral part of learning the method.</li>
    </ul>
    </div>

      <!-------------------Design process ------------------------->
<h2 class="my-5 text-center">Design process</h2>

<div class="w-60 mb-5 container">
  <h3 class="my-4 text-center font-weight-bold">Ideation </h3>
  <p>While we were working out the structure and flow of the various actions, we also went through
    a lot of sketch iterations of how the content could be laid out and how the different features
    would interact with each other.

Based on our interviews with people who have successfully learned the Enlightened Shadowing Method,
we knew that a <b>process of observing, reflecting, and trying out techniques</b> was essential to successfully
learn it. So we visualized this concept and used it as a way to arrange the content within a lesson.
</p>
</div>
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <img src="images/learning-seeds/ideation.png" class="w-75 my-auto mx-auto" alt="">
    </div>
    <div class="col">
      <img src="images/learning-seeds/ideation2.png" class="w-100 my-auto mx-auto" alt="">
    </div>
  </div>
</div>

<div class="container my-5 pb-4 w-60">
  <p>For the demo we decided to show <b>3 user flows</b> that include <b>introducing</b> the Enlightened Shadowing Method,
    <b>going through the first lesson</b> and <b>reflecting.</b> As you can see on our site map we also created a <b>toolkit</b>
    where users can store the material he/she liked as well as notes and reflections. We are also planning
    on developing <b>Q&A</b> section so parents can ask questions directly to educators at Learning Seeds.</p>
</div>

<div class="container ">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3 class="text-center my-5 font-weight-bold">User flows</h3>
<img src="images/learning-seeds/user-flow-big.png" class="w-75 my-auto mx-auto modal-image" alt="">
  <span class="click-to-enlarge"><i>Click to enlarge</i></span>
    </div>
    <div class="col-lg-6">
      <h3 class="text-center my-5 font-weight-bold">Site map</h3>
  <img src="images/learning-seeds/site-map-big.png" class="w-75 my-auto mx-auto modal-image" alt="">
    <span class="click-to-enlarge"><i>Click to enlarge</i></span>
    </div>

  </div>
</div>
<!------------------- Wireframing & Usability testing -------------->
<div class="container w-60 my-5">
  <h3 class="my-4 text-center font-weight-bold">Wireframing & Usability testing</h3>
  <p>When our initial mid-fidelity wireframes were ready, we conducted 7 usability tests.
    During these tests, we got valuable feedback that we implemented making iterations and
    creating new version that eventually used for a prototype.</p>
</div>
<div class="container w-60">
  <p class="my-5"><b>1.</b> Some of the users mentioned that they are often annoyed by having to
    create an account so we <b>added an ability to sign in with Google and Facebook.</b></p>
  <div class="row justify-content-center">
    <div class="col-lg-6">
<img src="images/learning-seeds/wire1.png" class="w-100 my-auto mx-auto" alt="">
    </div>
    <div class="col-lg-6">
<img src="images/learning-seeds/wire2.png" class="w-100 my-auto mx-auto" alt="">
    </div>

  </div>
</div>
<div class="container w-60 ">
  <p class="my-5"><b>2.</b> Some of the screens were defined as "text-heavy". The solution we found is
    to <b>hide extra text to an infographic</b> where the user can hover over the bubbles to see the content.
</p>
  <div class="row justify-content-center">
    <div class="col-lg-6">
<img src="images/learning-seeds/wire3.png" class="w-100 my-auto mx-auto" alt="">
    </div>
    <div class="col-lg-6">
<img src="images/learning-seeds/wire4.png" class="w-100 my-auto mx-auto" alt="">
    </div>

  </div>
</div>
<div class="container w-60 pb-5">
  <p class="my-5"><b>3.</b> As for the sidebar we initially had it changing depending on the page that the user is currently on,
    but users were generally confused by this, so we <b>changed the sidebar to have consistent navigation.</b></p>
    <div class="row justify-content-center">
      <div class="col-lg-6">
  <img src="images/learning-seeds/wire5.png" class="w-50 float-right my-auto" alt="">
      </div>
      <div class="col-lg-6">
  <img src="images/learning-seeds/wire6.png" class="w-25 my-auto float-left" alt="">
      </div>

    </div>

</div>
<!------------------------------- Mockups ------------------------------------------>
<div class="container w-60 my-5">
  <h3 class="my-4 text-center font-weight-bold">Mock-ups</h3>
  <p>Due to the time constraints, we did not have enough usability tests to bring
    the whole prototype to high fidelity. However, some of the screens were clearly
    successful according to users' feedback, so we created few mock-ups to demonstrate
    to the client how the existing style guide of Learning Seeds can be implemented for this particular product.
</p>
</div>
<div class="container pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
<img src="images/learning-seeds/mockup1-big.png" class="w-75 my-auto mx-auto modal-image" alt="">
<span class="click-to-enlarge"><i>Click to enlarge</i></span>
    </div>
    <div class="col-lg-6">
<img src="images/learning-seeds/mockup2-big.png" class="w-75 my-auto mx-auto modal-image" alt="">
<span class="click-to-enlarge-kiki"><i>Click to enlarge</i></span>
    </div>

  </div>
</div>






<!------------------------------ Prototype ---------------------------->

<div class="position-relative container">
  <h3 class=" my-5 text-center font-weight-bold">Prototype</h3>
  <img src="images/learnseed.png" alt="">
  <video class="laptop-video-prototype" controls autoplay muted>
<source src="video/seeds.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>

    <div class="container my-5">
      <h3 class="text-center my-5 font-weight-bold">Next Steps</h3>
      <div class="container w-75">
        <ul>
          <li>Further usability testing, particularly on the reflection and progress sections.</li>
          <li>Design mobile component to micro-course.</li>
          <li>More tailored content.</li>
          <li>Build out of a Q & A section.</li>
          <li>Add social functionality or the ability to share experiences with others.</li>
          <li>Create a more sophisticated way of documenting and visualizing progress beyond just numerical rating.</li>
        </ul>
      </div>
    </div>

    <div class="container my-4 nextcase">
      <div class="row align-items-center">
        <div class="col-6">
          <img src="images/venmo.png" class="nextcase-image-phone" alt="">
        </div>
        <div class="col-6">
          <h6 class="nextcase-header">
            Donation feature for Venmo app (conceptual)</h6>
          <a href="/venmo" class="view-next-button btn btn-dark">View next case study</a>
        </div>
      </div>
    </div>

    <a href="#top"><img class="arrow-down" src="images/chevron-double-up.png" alt="" width="64" height="64"></a>
  </section>
<%- include ("../templates/footer") -%>
