<%- include ("../templates/header") -%>
  <!-- Content section -->
  <section class="middle-section fadein">

<div class="text-center container">
  <embed src="resume.pdf#toolbar=1&navpanes=1&scrollbar=1" class="mt-5"/>
  <a href="resume.pdf" class="btn btn-dark resume-button" id="resume-button">Resume</a>
</div>
<%- include ("../templates/footer") -%>
