<%- include ("../templates/header") -%>
  <!-- Content section -->
  <section class="middle-section fadein">

<div class="text-center">
  <embed src="resume.pdf#toolbar=1&navpanes=1&scrollbar=1" class="mt-5" width="800px" height="1200px"/>
</div>
<%- include ("../templates/footer") -%>
