<%- include ("../templates/header") -%>
<!------------------------------- Content section --------------->
<section class="section-font_and-color fadein">

  <h2 class="mt-3 text-center">Tete-A-Tete salon website redesign</h2>
  <div class="container my-5 pt-5">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <img src="images/tete-a-tete/prototypes.png" class="shadow rounded" alt="Prototypes">
        <a id="text-nav" class="text-center nav-link font-weight-bold" href="#prototypes"><u>View prototypes</u></a>
      </div>

      <div class="col-lg-6">
        <h3 class="text-left mb-3 font-weight-bold">PROJECT OVERVIEW</h3>
        <p class="overview"><b>Category:</b>
          Responsive design, UX/UI design</p>
        <p class="overview"><b>Timeline:</b> 2 months</p>
        <p class="overview"><b># of Team members:</b> 2 (1 designer, 1 engineer)</p>
        <p class="overview"><b>Skills:</b>
          User Interviews, Competitive analysis, Information Architecture, Wireframing,
          Responsive design, Prototyping, Usability testing</p>
        <p class="overview"><b>Tools:</b>
          Figma, InVision
        </p>
      </div>

    </div>
  </div>

  <!------------------------------- Problem statement --------------->
  <div class="container w-60 pt-4 my-5">
    <h3 class="text-center my-5 font-weight-bold">Problem statement</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top" src="images/tete-a-tete/facade.png" alt="Salon facade">
          <div class="card-body bg-light">
            <p class="card-text text-center font-italic">Tete-A-Tete salon 765 Beacon street, Newton centre, 02459</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pb-3">
        <p class="pb-3"><b>Tete-A-Tete salon</b> is a local hairsalon serving the Newton area since 1999. The main purpose of having a website for Tete-A-Tete
          is providing the information necessary for visiting the salon. That means that the website is supposed to answer the majority of
          questions perspective clients may have. However, the surveys have shown that users often have difficulties navigating the website
          and have no other choice but to contact the salon in order to get info.
        </p>

        <p class="font-weight-bold">After redesigning the website we expect Tete-A-Tete salon to have:
        </p>
        <ul>
          <li>at least 50% more first-time appointments in a book</li>
          <li>up to 80% less information inquiry calls</li>
          <li>at least 70% of clients’ trust in competency of stylists</li>
        </ul>
      </div>
    </div>
  </div>
  <!------------------------------- Research & analysis --------------->
  <div class="container w-60 pb-5">
    <h3 class="my-5 pt-5 text-center font-weight-bold">Research</h3>
    <img src="images/tete-a-tete/research.png" class="w-100" alt="research-chart">
  </div>


  <div class="container w-60 pb-5">
    <h3 class="my-5 pt-5 text-center font-weight-bold">Analysis of the existing website</h3>
    <p class="pb-3">The first thing I noticed is the home page that feels too cluttered. Although it has an important info like Covid-policy and product lines used at
      the salon, it is difficult to scan because of a bunch of text and a busy layout. </p>
    <img src="images/tete-a-tete/analysis1.png" class="w-100" alt="website analysis">
  </div>

  <div class="container w-60 pb-5">
    <p>My next concern was the navigation bar that offers users <b>excessive number of menu items (8)</b> while all they want is just to get a service.</p>
    <p class="pb-3">The wording <b>“raving clients” is not clear enough</b> and does not fully explain what this page is about. Can be replaced with “reviews” which
      is more common and familiar to users.
    </p>
    <img src="images/tete-a-tete/analysis2.png" class="w-100" alt="website analysis">
  </div>

  <div class="container w-60 pb-5">
    <p><b>The price list</b> looks visually <b>overwhelming.</b> Needs to be chunked.</p>
    <p>Half of the services <b>don’t give you any idea of</b> how much they can <b>cost</b> and just marked as “Prices vary”. It is important to be as clear about
      the price as possible. Price range could be a solution.
    </p>
    <p class="pb-3">Small pictures look funny on a desktop version.</p>
    <img src="images/tete-a-tete/analysis3.png" class="w-100" alt="website analysis">
  </div>

  <div class="container w-60 pb-5">
    <p class="pb-3">Colored text in paragraphs creates <b>poor readability.</b></p>
    <img src="images/tete-a-tete/analysis4.png" class="w-100" alt="website analysis">
  </div>

  <!------------------------------- User scenario --------------->
  <div class="container w-60 pb-5">
    <h3 class="my-5 pt-5 text-center font-weight-bold">User scenario</h3>
    <img src="images/tete-a-tete/user-scenario.png" class="w-100" alt="user scenario">
  </div>
  <!------------------------------- Solutions --------------->
  <div class="container my-auto w-60 pb-5">
    <h3 class="mx-5 pt-5 text-center font-weight-bold">Solutions</h3>
    <div class="conatiner py-5">
    <ol>
      <li class="pb-4"><b>Funnel user’s attention</b> in a logical way while answering the questions our user might have. </li>
        <img src="images/tete-a-tete/user-flow.png" class="w-100 py-5" alt="user flow">
        <span class="click-to-enlarge-kiki"><i>User flow</i></span>
      <li class="pb-2 pt-5">Eliminate unnecessary distractions. <b>Cut down the menu items</b> of low significance and keep only the most important ones.</li>
      <li class="py-2">Chunk the extensive price lists into smaller and <b>visually divided tables.</b></li>
      <li class="py-2"><b>Add lacking information</b> such as product lines, stylists’ expertise and work examples.</li>
    </ol>
      </div>
    <div class="conatiner py-5">
      <img src="images/tete-a-tete/site-map.png" class="w-100 pb-3" alt="site map">
      <span class="click-to-enlarge-kiki pt-3"><i>Site map</i></span>
    </div>
  </div>
  <!------------------------------- Wireframing --------------->
  <div class="container-fluid w-60 pb-5">
    <h3 class="my-5 pt-5 text-center font-weight-bold">Wireframing</h3>
    <div class="w-100">
      <video class="w-100 position-static" controls loop autoplay muted>
        <source src="video/teteatete-wireframe.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

  </div>
  <!------------------- Usability testing ------------------------->

  <div class="container my-5 pt-5 w-60">
    <h3 class="text-center my-5 font-weight-bold">Usability testing</h3>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img src="images/tete-a-tete/challenge.gif" class="w-75" alt="gif">
      </div>
      <div class="col-lg-6">
        <h4 class="font-weight-bold text-center pb-3">1. Layout & responsiveness challenge</h4>
        <p>The biggest issue for me was designing the most important part of the website – <b>list of services</b> as it <b>had to be visible and easily accessible on
            all platforms.</b> I’ve tried various ways of displaying them – buttons on a single background, images with text descriptions scrolled to the sides and
          images with text stacked under each other. The last one turned out to be the most user friendly and fits well both desktop and mobile versions.</p>
      </div>

    </div>
      </div>

    <div class="container w-60 my-5 pt-5">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <img src="images/tete-a-tete/test1.png" class="w-100" alt="website usability testing">
        </div>
        <div class="col-sm-6">
          <img src="images/tete-a-tete/test2.png" class="w-100" alt="website usability testing">
        </div>
      </div>
    </div>


    <div class="container w-60 my-5 pt-5">
      <p class="pb-3"><b>2. Sliding interaction</b> signifier represented by three dots wasn’t clear for users. As a result, I got rid of dots and made menu items
        clickable while still maintaining screens’ ability to slide.</p>
      <div class="row align-items-center">
        <div class="col-sm-6">
          <img src="images/tete-a-tete/test3.png" class="w-50" alt="website usability testing">
        </div>
        <div class="col-sm-6">
          <img src="images/tete-a-tete/test4.png" class="w-50" alt="website usability testing">
        </div>
      </div>
    </div>

    <div class="container w-60 my-5 pt-5">
      <p class="pb-3"><b>3. The fixed header that folds in</b> when as you scroll down is a great idea which I picked up from the original Tete-A-Tete website.
        While it is providing constant access to site navigation it gets thinner and saves the valuable space for the content. However, according to
        user insights the fact that the name of the salon, its logo, simply disappears when you scroll looks like a system error and leaves users confused.
        To avoid poor readability caused by reducing size of the logo I chose to make a transition from logo (initial state) to a text title.</p>
      <div class="row align-items-center">
        <div class="col-sm-4">
            <img src="images/tete-a-tete/arrow-top-right.png" class="arrow-top-right position-absolute" alt="">
          <img src="images/tete-a-tete/test5.png" class="w-75" alt="website usability testing">
        </div>
        <div class="col-sm-4">
          <img src="images/tete-a-tete/test6.png" class="w-75" alt="website usability testing">
        </div>
        <div class="col-sm-4">
          <img src="images/tete-a-tete/test7.png" class="w-75" alt="website usability testing">
        </div>
      </div>
    </div>

    <!-------------------------- High-fidelity prototype ---------------------------->
    <h3 id="prototypes" class="pt-5 my-5 text-center font-weight-bold">High-fidelity prototype</h3>

    <div class="container position-relative pb-5">
      <img src="images/bloom.png" class="prototype-phone-width" alt="">
      <video class="phone-video-tete" controls autoplay muted>
        <source src="video/teteatete-mobile.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>


    <div class="container position-relative">
      <img src="images/tete-a-tete-desktop.png" alt="">
      <video class="laptop-video-tete" controls autoplay muted>
        <source src="video/teteatete-desktop.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <!-------------------------- Outcomes ---------------------------->

    <div class="container pb-5 w-60">
      <h3 class="pt-5 my-5 text-center font-weight-bold">Outcomes</h3>
      <p>The updated design was well received within Tete-A-Tete company. While it has not been published yet it has already increased
        communication within the company and inspired stylists to document their best works in order to showcase their skills and expertise.</p>
    </div>

    <div class="container my-5 w-60">
      <h3 class="text-center my-5 font-weight-bold">Next steps and recommendations:</h3>
      <div class="container w-75">
        <ul>
          <li>Keep up to date online appearance on the social networks such as Instagram and Facebook.</li>
          <li>Add online booking feature.</li>
          <li>Launch new marketing campaigns via Constant Contact.</li>
          <li>Collaborate with Groupon.</li>
        </ul>
      </div>
    </div>

    <div class="container my-5 nextcase">
      <div class="row align-items-center">
        <div class="col-6">
          <img src="images/bloom.png" class="nextcase-image-phone" alt="">
        </div>
        <div class="col-6">
          <h6 class="nextcase-header">
            B2C application "Bloom"</h6>
          <a href="/bloom-app" class="view-next-button btn btn-dark">View next case study</a>
        </div>
      </div>
    </div>



    <a href="#top"><img class="arrow-down" src="images/chevron-double-up.png" alt="" width="64" height="64"></a>
</section>
<%- include ("../templates/footer") -%>
