@tailwind base;

/* Write your own custom base styles here */
.slide {
     background: white !important
}
.cursor-pointer {
     cursor: pointer
}

.boxShadow {
     box-shadow: 0px 4px 16px 0px #00000033;
}
/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer base {
 p, li, h2, h1, h3, h4 {
     color: #343434
 }
   }